# the packages installed by docker

# Python formatting
pylint~=3.3.4

# ML python packages
# tabpfn-client~=0.0.6
scikit-learn==1.6.1
#torch==2.6.0

# Data analysis tools
pandas~=2.2.3
numpy~=2.2.3
seaborn~=0.13.2
matplotlib~=3.8.0

# Webscraping
#BeautifulSoup4~=4.13.3
